body{
    font-family: 'Arial', sans-serif;
}

.header p{
    position: absolute;
    top:0;
}

.header .Mail{
    width: 50px;
    right: 100px;
}

.header .Images{
    width: 100px;
    right: -5px;
}

.title {
    min-width: 500px;
    height: 100px;
    margin-top: 160px;
    text-align: center;
}

form, 
.suggestions{
    text-align: center;
}