body{
    font-family: 'Arial', sans-serif;
}

.header p {
    display:inline-block;
}

.title {
    min-width: 500px;
    font-size: 100px;
    font-weight: 600;
    word-spacing: 0px;
    text-align: center;
}